@import url('http://googleapis.com/css?family=Dancing+Script');
@import "_parametros.scss";

body {

    text-align: center;

    background-color: rgb(184, 181, 181);




    //INDEX//



    h1 {
        display: inline-block;
        position: relative;
        font-family: 'Dancing Script';
    }

    h2 {
        font-family: 'Dancing Script';
    }

    h1::after,
    h1::before {
        content: '';
        position: absolute;
        @include size-h1 (120px, 3px);
        background-color: black;
        top: 0.6em;
    }

    h1::before {
        left: -140px;
    }

    h1::after {
        right: -140px;
    }







    //ENCARGANOS// 



    .flex-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        background: #333;
        margin: 50px 50px;
        padding: 20px;

        .form {
            min-width: 400px;
            flex: 1;
            text-align: center;
            padding: 30px;

            .asunto {
                width: 100%;
                padding: 7px;
                margin: 6px 0;
                border: none;
                border-bottom: 3px solid #5dd;
                background: transparent;
                color: #fff;

                textarea {
                    min-height: 140px;
                    resize: none;
                }
            }

            .form__section {

                .form__imput {
                    @extend .asunto
                }



                .form__imput:focus {
                    background: linear-gradient(to bottom, transparent, #222);
                    outline: none;
                    border-bottom: 3px solid #5da;
                }

            }
        }

        .form-img {
            flex: 1;
            display: flex;
            padding: 10px;

            .img-container {
                padding: 20px;
                margin: auto;

                #divimg {
                    padding: 10px;
                    background-color: rgb(251, 248, 248);
                    border-radius: 50%;
                    text-align: center;
                    padding: 40px;

                    img {

                        width: 90%;
                        margin: auto;
                    }
                }
            }

            .form input[type="submit"]:focus {
                background-color: #5dd;
            }

            .form input[type="submit"]:active {
                background: linear-gradient(to bottom, #5dd, #5dd);
            }
        }

        .form-img img {
            width: 90%;
            margin: auto;
        }

        .form-img {
            .img-conteiner {
                padding: 20px;
                margin: auto;

                #divimg {
                    background-color: rgb(251, 248, 248);
                    border-radius: 50%;
                    text-align: center;
                    padding: 40px;

                    img {
                        width: 90%;
                        margin: auto;
                    }
                }
            }
        }
    }



    //footer// 


    #animacion {
        width: 100%;
        height: 7px;
        background-color: map-get($estilos, color);
        animation-name: footeranimacion;
        animation-duration: 5s;
        animation-delay: 0, 5s;
        animation-iteration-count: infinite;
    }

    @keyframes footeranimacion {
        0% {
            background: map-get($estilos, color);
        }

        50% {
            background: white;
        }

        100% {
            background: map-get($estilos, color);
        }
    }

}



// MENU // 



.font-family {
    font-family: system-ui;
}

a {
    text-decoration: none;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.column-2.carta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.plato-carta {
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

.img-plato-carta {
    display: flex;
    flex-basis: 25%;
    justify-content: center;

    img {
        max-width: 100px;
        max-height: 100px;
    }
}

.title-plato-carta {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
}

.precio-plato-carta {
    display: flex;
    flex-basis: 15%;
    font-weight: bold;
}

@media (max-width: 680px) {
    .column-2.carta {
        grid-template-columns: repeat(1, 1fr);
    }
}



// PROMOS // 


.font-family-p {
    font-family: system-ui;
}

.wrap-p {
    max-width: 1200px;
    margin: 0 auto;
}

.column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.menu-restaurante {
    color: #e5e5e5;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
}

hr {
    background-color: #FFC300;
    height: 2.5px;
    width: 30px;
    border: none;
}

.precio-menu {
    font-weight: bold;

    span {
        font-size: 2rem;
        color: #FFC300;
    }
}

@media (max-width: 769px) {
    .columns {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .columns {
        grid-template-columns: repeat(1, 1fr);
    }
}